# Part 1: Reading Files


1. chinook.db

- Use the sqlite3 library to connect to the database.
Read the customers table into a pandas DataFrame. Display the first 10 rows.

2. iris.json

- Load the JSON file into a DataFrame. Show the shape of the dataset and the column names.

3. titanic.xlsx

- Load the Excel file into a DataFrame. Use head to display the first 5 rows.

4. Flights parquet file

- Read the Parquet file into a DataFrame and use info to summarize it.

5. movie.csv

- Load the CSV file into a DataFrame and display a random sample of 10 rows.

In [12]:
import sqlite3
import pandas as pd

# Connect the chinook.db database, and read it into DataFrame
with sqlite3.connect('data/chinook1.db') as connection:
    df_employee = pd.read_sql("SELECT * FROM customers", con=connection)

# Display the first 10 rows
df_employee.head(10)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
6,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
7,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
8,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4

2. iris.json

- Load the JSON file into a DataFrame. Show the shape of the dataset and the column names.

In [29]:
import json
import pandas as pd

# Read json file into dataframe
df_iris = pd.read_json('data/iris.json')

# Show the shape of the dataset and the column names.
df_iris.shape
df_iris.columns

Index(['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species'], dtype='object')

3. titanic.xlsx

- Load the Excel file into a DataFrame. Use head to display the first 5 rows.

In [22]:
import pandas as pd

# Load the Excel file into a DataFrame
df_titanic = pd.read_excel('data/titanic.xlsx')

# Display the first 5 rows
df_titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [24]:
import pandas as pd

# Read the Parquet file into a DataFrame
flights_df = pd.read_parquet("flights.parquet")

# Summarize the DataFrame using the info method
flights_df.info()


# I could't upload this file from github, but the code is like that.

FileNotFoundError: [Errno 2] No such file or directory: 'flights.parquet'

5. movie.csv

- Load the CSV file into a DataFrame and display a random sample of 10 rows.

In [28]:
import csv
import pandas as pd

# Load the CSV file into a DataFrame.
df_movie = pd.read_csv('data/movie.csv')

# 10 random sample
df_movie.sample(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4408,Color,Justin Thomas Ostensen,18.0,99.0,0.0,5.0,Kristin Booth,721.0,NaN,Thriller,...,11.0,English,Canada,R,1200000.0,2011.0,134.0,4.5,NaN,161
246,Color,Josh Trank,369.0,100.0,128.0,78.0,Reg E. Cathey,596.0,56114221.0,Action|Adventure|Sci-Fi,...,695.0,English,USA,PG-13,120000000.0,2015.0,360.0,4.3,2.35,41000
2225,Color,Michael J. Bassett,173.0,95.0,83.0,206.0,Deborah Kara Unger,991.0,17529157.0,Adventure|Drama|Horror|Mystery|Thriller,...,220.0,English,France,R,20000000.0,2012.0,494.0,5.0,2.35,25000
4675,Color,Eric England,15.0,81.0,15.0,93.0,Ace Marrero,847.0,NaN,Drama|Horror|Mystery|Thriller,...,6.0,English,USA,NaN,NaN,2013.0,94.0,4.1,16.00,61
1348,Color,Jeb Stuart,38.0,118.0,11.0,12.0,Claudia Stedelin,37.0,6482195.0,Crime|Mystery|Thriller,...,81.0,English,USA,R,37000000.0,1997.0,12.0,6.4,2.35,389
4720,Color,Florence Ayisi,27.0,104.0,0.0,NaN,Beatrice Ntuba,2.0,32631.0,Documentary,...,8.0,English,Cameroon,Not Rated,NaN,2005.0,0.0,7.5,NaN,50
202,Color,Gore Verbinski,271.0,143.0,563.0,1000.0,Orlando Bloom,40000.0,305388685.0,Action|Adventure|Fantasy,...,2113.0,English,USA,PG-13,140000000.0,2003.0,5000.0,8.1,2.35,10000
3140,Color,Victor Salva,44.0,120.0,108.0,400.0,Tim DeKay,634.0,1055654.0,Drama|Romance|Sport,...,175.0,English,Germany,PG-13,10000000.0,2006.0,436.0,7.3,2.35,0
2414,Color,Jeff Kanew,11.0,105.0,6.0,371.0,Shelley Long,723.0,8508843.0,Adventure|Comedy,...,35.0,English,USA,PG,18000000.0,1989.0,422.0,5.5,1.37,0
1895,Color,Cathy Malkasian,38.0,85.0,0.0,503.0,Flea,1000.0,39880476.0,Adventure|Animation|Comedy|Family|Fantasy,...,33.0,English,USA,PG,25000000.0,2002.0,535.0,5.2,2.35,187